header.site-header {
  background-color: $main;
  color: white;

  > .container {
    display: flex;
  }
}
.site-title {
  color: white;
  text-decoration: none;

  > img {
    width: 4em;
    height:auto;
  }
}
nav.site-nav {

  > ul.priority {
    padding-left: 0;
    display: flex;

    > li {
      list-style-type: none;
      display: inline-block;
      text-align: center;

          &:hover,
          &:active {
            background-color: $mainAccent;
          }

      > a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 1em 1em;
      }
    }
  }
}
@media (min-width: $breakpoint-large){
  header.site-header {
    position: fixed;
    height: 100%;
    width: 20%;

      > .container {
        flex-direction: column;
      }
  }
  .site-title {
    text-align: center;

    > img {
      width: 8em;
    }
  }
  nav.site-nav > ul.priority {
    flex-direction: column;

    > li {


      > a {

      }
    }
  }
}
